In [1]:
# tuples
a=()
print(a)
print(type(a))

()
<class 'tuple'>

In [2]:
b=('vicky','vijay','thalapathy')
print(b)

('vicky', 'vijay', 'thalapathy')

In [3]:
print(b[2])

thalapathy

In [5]:
b[2]='lalu'

<class 'TypeError'>: 'tuple' object does not support item assignment

In [7]:
c=(10)
d=(10,)
print(c)
print(type(c))
print(d)
print(type(d))

10
<class 'int'>
(10,)
<class 'tuple'>

In [10]:
p=tuple(("vicky","vijay","thalapathy"))
print(p)
print(type(p))

('vicky', 'vijay', 'thalapathy')
<class 'tuple'>